form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 18px;
    color: #333;
}
  
  .box select {
    background-color: #cd0303;
    color: white;
    padding: 12px;
    width: 120px;
    margin-left: 10px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 10px;
  }
  
  .box select option {
    padding: 30px;
  }