body{
    margin: 0;
    background: #eaeded;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 100%;
    background-color: #222f3e;
}

.logo img{
    width: 5rem;
    margin-left: 2.3em;
    padding: 0.3em 0;
}

.navBar{
    width: 100%;
    background-color: #354657;
}

.navUl{
    margin: 0;
    color: white;
    display: flex;
    list-style: none;
    margin-left: -1em;
}

.navUl li{
    margin: 0 0.6em;
    font-size: 1em;
}

.shop{
    width: 100%;
    margin: 2em 0;
}

.inShop{
    width: 91%;
    background-color: #f56600;
    margin: auto;
}

.inShop p{
    color:white;
    padding: 0.3em;
    text-align: center;
}

.holiday{
    width: 91%;
    background-size: 92%;
    height: 12.2em;
    margin: auto;
    background-image: url(../D3/assets/bg-image.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.holiday h1{
    color: white;
    font-size: 1.5rem;
}

.holiday p{
    color: white;
}

.gift{
    width: 91%;
    margin: auto;
}