body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeded;
  margin: 0;
}

*{
  transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
  scroll-behavior: smooth;
}

/* ! LOGO */

.logo {
  width: 100%;
  background-color: #222f3e;
}

.logo img {
  width: 10%;
  padding: 0.7em;
  margin-left: 1em;
}

/* ! NAVBAR */

.navbar {
  width: 100%;
  background-color: #354657;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.navbar span {
  margin-left: 1.2em;
  color: white;
  cursor: pointer;
}

/* ! ORANGE LINE */

.orangediv {
  width: 100%;
}
.orangedivdiv {
  width: 98.5%;
  text-align: center;
  background-color: #f56600;
  color: white;
  margin: auto;
  margin-top: 2em;
}

.orangediv p {
  padding: 0.5em;
}

/* ! GREEN IMG */

.greenimg {
  background-image: url(../D3/assets/bg-image.png);
  background-size: 92%;
  height: 12em;
  text-align: center;
  color: white;
  width: 98.5%;
  margin: auto;
}

.greenimg h1 {
  padding-top: 2em;
  font-weight: bold;
}

.greenimg p {
  font-weight: bold;
}

/* ! GIFT DIV */

.giftdiv {
  width: 98%;
  margin: auto;
  padding: 1em;
  background-color: white;
  margin-top: 2em;
  box-sizing: border-box;
}

.giftdiv div{
  padding: 1em;
  margin-left: 0.7em;
}

.giftdiv span {
  padding: 1em;
  font-weight: 600;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #4a91a2;
  font-weight: bold;
}

.giftdiv img {
  width: 19vw;
  border-radius: 1em;
  object-fit: cover;
  height: 25vw;
  margin: 2%;
  box-shadow: 3px 3px 2px 0px rgba(162, 152, 152, 0.7),
    0px 2px 4px 0px rgba(128, 128, 128, 0.5);
}

/* ! DIV D4 */

main {
  max-width: 100%;
  margin-top: 2em;
  box-sizing: border-box;
  margin-left: 1em;
}

.white {
  background-color: white;
  width: 21.1%;
  display: inline-block;
  margin: 0.3em;
  padding: 1.2em;
}

@media (min-width: 1500px)
{
  .white {
    background-color: white;
    width: 21.1%;
    display: inline-block;
    margin: 0.9em;
    padding: 1.2em;
  }
}

.white img{
  cursor: pointer;
}

.titleamz {
  margin-top: -1em;
  margin-left: 1em;
  box-sizing: border-box;
}

.row2 {
  width: 100%;
}

.rowimg {
  width: 45%;
  display: inline-block;
  position: relative;
  margin: 0.3em;
}

.rowimg p {
  margin: 0;
}

.rowimg img {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

.footerrow {
  padding-top: 1.5em;
  padding-left: 0.5em;
}

.footerrow a {
  font-weight: 400;
}

img.new {
  position: absolute;
  right: -0.8em;
  bottom: 0px;
  width: 40%;
}

/* ! DOUBLE DIV */
.doublediv {
  width: 100%;
  padding-top: 2rem;
  text-align: center;
}

.doublediv img {
  width: 98%;
  margin: auto;
}

.titleimg {
  text-align: center;
  font-weight: bold;
}

/* ! BACK */

.back {
  width: 100%;
  background-color: #354657;
  margin-top: 2em;
  box-sizing: border-box;
  padding: 0.5em;
  text-align: center;
}

.colora {
  color: white;
  text-decoration: underline;
}

/* ! FOOTER */

footer {
  text-align: center;
  background-color: #222f3e;
  width: 100%;
  box-sizing: border-box;
  padding: 2em;
}

footer img {
  width: 10em;
}
