body {
  color: #404040;
}

.resp {
  width: 720px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoimg {
  width: 10em;
}

.porder {
  display: flex;
  justify-content: center;
  background-color: #fdfbf1;
  width: 100%;
  border-top: 0.1em solid gold;
  margin-top: 1em;
  font-size: 0.9em;
}

.ptitle {
  color: darkgreen;
  margin-left: 5px;
  font-weight: bold;
}

.ptitlemini {
  color: darkgreen;
}

.mainh1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleh1 {
  width: 70%;
  text-align: center;
  padding-top: 1em;
}

.pimg {
  width: 97%;
}

.focaccia {
  border-radius: 3%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.footerimg {
  color: grey;
}

.featured {
  border-left: 0.1em solid gold;
  padding-left: 1em;
}

.featured h2 {
  margin-bottom: 0;
  font-size: 1em;
  color: #cc2900;
  font-weight: 200;
}

.featured a {
  margin-top: 0;
  font-size: 0.9em;
}

.divlist {
  margin-top: 4em;
  border-bottom: 0.1em solid #d7f7f6;
}

.diving {
  width: 90%;
}

.divlist h2 {
  font-weight: 100;
}

.diving li {
  margin-bottom: 10px;
}

.divlist2 {
  margin-top: 2em;
  border-bottom: 0.1em solid #d7f7f6;
}

.divlist2 h2 {
  font-weight: 100;
}

.divlist2 h4 {
  font-weight: bold;
}

.diving2 p{
    padding-left: 2.5em;
    width: 87%;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer a{
    margin-left: 0.25em;
}
